apiVersion: v1
kind: ConfigMap
metadata:
  name: botium-box-configmap
  namespace: botium-box
  labels:
    name: config
    app: botium-box
data:
  LICENSE_KEY: {{ my-botium-box-license-key }}
  DATABASE_URL: mysql://root:password@mysql:3306/box@prod13
  BOTIUMBOX_QUEUE_REDISURL: redis://redis:6379
  ZAP_ENDPOINT: http://zap:8080